{% macro translate_status(status) %}
    {% if status == 'pending' %}
        Pendente
    {% elif status == 'in_progress' %}
        Em Andamento
    {% elif status == 'completed' %}
        Concluída
    {% elif status == 'cancelled' %}
        Cancelada
    {% elif status == 'correction' %}
        Correção
    {% else %}
        {{ status }}
    {% endif %}
{% endmacro %}

{% macro get_status_class(status) %}
    {%- if status == 'pending' %}badge-status-pendente
    {%- elif status == 'in_progress' %}badge-status-em-andamento
    {%- elif status == 'completed' %}badge-status-finalizada
    {%- elif status == 'overdue' %}badge-status-atrasada
    {%- elif status == 'not_completed' %}badge-status-não-realizada
    {%- elif status == 'correction' %}badge-status-correção
    {%- else %}badge-status-{{ status.replace(' ', '-').lower() }}
    {%- endif %}
{% endmacro %} 